vi .gitignore
**/*.DS_Store
**/*.ipynb_checkpoints/
tmp/
.virtual_documents/

*.pyc
*.pt
*.tar.gz
*.gz
*-ubyte
.idea/
codes/data/cifar/temp
codes/data/fashion-mnist/temp
codes/data/mnist/temp
codes/data/pytorch
codes/data/ptb
codes/REF

start_deeplearn_jupyter.bat
